<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096495415904-vubqe70r1np29aqcd5lcj6uqid66lhhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096495415904-vubqe70r1np29aqcd5lcj6uqid66lhhg</string>
	<key>API_KEY</key>
	<string>AIzaSyAKGYNXfHqpq3MktyQUm3wYqDj1TzvscDg</string>
	<key>GCM_SENDER_ID</key>
	<string>1096495415904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.sathyabama.cognibot</string>
	<key>PROJECT_ID</key>
	<string>sathyabama-lms</string>
	<key>STORAGE_BUCKET</key>
	<string>sathyabama-lms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096495415904:ios:a405bf63977f48d55ef905</string>
	<key>DATABASE_URL</key>
	<string>https://sathyabama-lms.firebaseio.com</string>
</dict>
</plist>