/* custom style for moodle app customization 
 * Author:  joshuaomotayo
 * Url:     http://olalekan.pw
 * Email:   admin@olalekan.pw
*/


/* logo */

ion-app.app-root page-core-login-credentials img.login-logo, ion-app.app-root page-core-login-reconnect img.login-logo, ion-app.app-root page-core-login-site img.login-logo, .core-login-site-logo img {
    width: 45%;
    padding: 50px 0 !important
}

.tabs-md .tabbar, .tabs-ios .tabbar {
    background: #009FE5;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #FFFFFF !important;
}

ion-app.app-root page-core-login-credentials .box {
    border: none;
}

ion-app.app-root page-core-login-credentials .scroll-content {
    background: radial-gradient(white, #ffffff);
}

/* hide timeline */
.addon-block-timeline {
    display: none;
}